.userFormRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  .material-icons{
    position: absolute;
    left: 25px;
    top: 90px;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  .block{
    display: block;
  }
  h1{
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  h3{
    margin-top: 0;
    font-weight: normal;
    font-size: 1rem;
  }
  img{
    height: 60px;
  }
  button{
    display: block;
    margin: 0 auto;
  }
}
