<h1 *ngIf="tickets">Ticket editor</h1>

<router-outlet></router-outlet>

<button mat-raised-button class="general-btn"  color="primary" [routerLink]="['create', eventId]" >Add tickets</button>
<div class="ticket-holder" *ngFor="let ticket of tickets" >
  <mat-card>
    <mat-card-title>
      Type: {{ticket.type}}
    </mat-card-title>

    <div class="ticket-des-holder">
      <div class="ticket-sub-container">
        <mat-card-subtitle>
          currency
        </mat-card-subtitle>
        <mat-card-subtitle>
          price
        </mat-card-subtitle>
      </div>
      <div class="ticket-sub-container">
        <mat-card-subtitle class="normal-text">
          <span>{{ticket.currency}}</span>
        </mat-card-subtitle>
        <mat-card-subtitle class="normal-text">
          <span>{{ticket.price}}</span>
        </mat-card-subtitle>
      </div>
    </div>


  </mat-card>


</div>


