.userPage{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 1.5rem;
    margin: 40px 0 5px 0;
  }

  p{
    margin: 0;
  }
  .user-form{
    margin-top: 20px;
    button{
      display: block;
      margin: 0 auto;
    }
  }
}
