@import "../../../styles.scss";
.header{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: $primary;
  height: 80px;
  .logo{
    align-self: center;
    cursor: pointer;
  }
  .actions{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    p{
      margin-right: 10px;
      .name{
        font-weight: bold;
      }
    }
  }

}
