<mat-tab-group *ngIf="event">
    <mat-tab label="Details">
        <div id="main-event-details-container">
            <div class="event-image-container">
                <img src="http://localhost:7777/images/{{event.image}}" class="event-image" alt="testImage">
            </div>
            <div class="event-details-container" *ngIf="event">
                <mat-list class="label-list">
                    <mat-list-item> Title: </mat-list-item>
                    <mat-list-item> Category: </mat-list-item>
                    <mat-list-item> Start date: </mat-list-item>
                    <mat-list-item> End date: </mat-list-item>
                    <mat-list-item> Online event: </mat-list-item>
                    <mat-list-item> Address: </mat-list-item>
                    <mat-list-item> City: </mat-list-item>
                    <mat-list-item> Organizer: </mat-list-item>
                </mat-list>
                <mat-list class="info-list">
                    <mat-list-item> {{event.title}} </mat-list-item>
                    <mat-list-item> {{event.category}} </mat-list-item>
                    <mat-list-item> {{event.start_date}} </mat-list-item>
                    <mat-list-item> {{event.end_date}} </mat-list-item>
                    <mat-list-item> {{event.online_event}} </mat-list-item>
                    <mat-list-item> {{event.address}} </mat-list-item>
                    <mat-list-item> {{event.city}} </mat-list-item>
                    <mat-list-item> {{event.organizer_name}} </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Attendees">
        <mat-tab-group>
            <mat-tab label="Who purchased ticket">
                <div *ngFor="let ap of attendeesPurchased">
                    <mat-card>{{ap.firstName}}</mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Who booked event">
                <div *ngFor="let ab of attendeesBooked">
                    <mat-card>{{ab.firstName}}</mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Statistics">
        <h1>Test1</h1>
        <p>Number of tickets bought since the event started --> chart with data from start date until end date? what would be an easier option?</p>
        <p>Number of users who booked this event</p>
        <p>Event category?</p>
        <p>comparing this event with the rest of its category?</p>
    </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>